<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header style="background-color: #2c9aaa; color: white; padding: 15px;">
    <h2> TASK MANAGER </h2>
    <nav>
        <a href="#" style="color: white; margin-left: 20px;">All Tasks</a>
    </nav>
</header>

<main layout:fragment="content">

</main>
</body>
</html>
