<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="'layout.html'"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-custom {
            background-color: #2a8d9c;
            color: #fff;
        }

        .btn-custom:hover {
            background-color: #23727f;
            color: #fff;
        }
    </style>
</head>
<body>

<div class="container mt-4" layout:fragment="content">

    <button type="button" data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-info mb-3">+ Add New
        Task
    </button>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form action="/tasks/add" method="post" id="addForm">
                        <div class="mb-3">
                            <label for="name" class="form-label fw-bold">NAME:</label>
                            <input type="text" name="name" class="form-control" id="name"
                                   placeholder="Insert name :" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label fw-bold">TASK DESCRIPTION:</label>
                            <textarea name="description" class="form-control" id="description" rows="5"
                                      placeholder="Description:" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="deadline" class="form-label fw-bold">DEADLINE :</label>
                            <input type="date" name="deadline" class="form-control" id="deadline" required>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="addForm">Add Task</button>
                </div>

            </div>
        </div>
    </div>

    <table class="table table-bordered align-middle text-center">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DEADLINE DATE</th>
            <th>IS COMPLETED</th>
            <th>DETAILS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.getId()}"></td>
            <td class="text-start" th:text="${task.getName()}"></td>
            <td th:text="${task.getDeadlineDate()}"></td>
            <td th:text="${task.getIsCompleted() ? 'YES' : 'NO'}"></td>
            <td>
                <button class="btn btn-sm btn-custom" data-bs-toggle="modal"
                        th:data-bs-target="'#detailModal' + ${task.getId()}">DETAILS
                </button>

                <div class="modal fade" th:id="'detailModal' + ${task.getId()}" tabindex="-1"
                     aria-labelledby="detailModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" th:text="${task.getName()}"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                <div class="mb-3">
                                    <p class="form-label fw-bold">TASK DESCRIPTION:</p>
                                    <p class="form-control" th:text="${task.getDescription()}"></p>
                                </div>
                                <div class="mb-3">
                                    <p class="form-label fw-bold">DEADLINE:</p>
                                    <p class="form-control" th:text="${task.getDeadlineDate()}"></p>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                                <form th:action="'/tasks/delete/' + ${task.getId()}" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>
                                <a th:href="'/tasks/edit/' + ${task.getId()}">
                                    <button type="submit"
                                            class="btn btn-success">Edit
                                    </button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
